* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  margin: 20px 10px;
  height: 60px;
  width: 250px;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}
